body, div, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}
html, body {
    font: 16px/2 arial,sans-serif;
    color: #495057;
    -webkit-font-smoothing: antialiased;
    background-color: #FFF;
}
@media (min-width: 1024px) {
    html, body {
        font-size: 24px;
    }
}
code {
    font-family: Consolas, Monaco, monospace;
}
img {
    max-width: 100%;
}



/* outline */
.outline {
}


/* main */
.main {
    margin: 0;
}


/* header */
.header {
    padding: 5rem 2rem 3rem;
    overflow: hidden;
    color: #FFF;
    background: #495057;
}
.header > * {
    margin: 0 auto;
}


/* module */
.module {
    /* padding: 0 64px; */
}
.module > * {
    margin: 0;
    padding: 0 2rem;
    box-sizing: border-box;
}
.module > *:last-child {
    margin-bottom: 0 !important;
}
.module p {
    margin: 1rem 0;
}

/* module h2 */
.module h2 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    font-size: 3rem;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    background-color: #f1f3f5;
}

/* module h3 */
.module h3 {
    position: relative;
    padding-top: 2rem;
    margin-top: 0;
    margin-bottom: 2rem;
    line-height: 2rem;
    font-size: 1.5rem;
    border-top: 1px solid #dee2e6;
}
.module h3 code:before {
    content: '¶';
    margin-right: 0.5rem;
    position: absolute;
    left: -2rem;
    width: 2rem;
    color: #adb5bd;
    text-align: center;
}

/* module h4 */
.module h4 {
    font-size: 1rem;
}

/* blockquote */
.module blockquote {
    padding-left: 1rem;
    color: #868e96;
    border-left: 2px solid currentColor;
}

/* table
.module table {
    padding: 0;
    display: table;
    max-width: 100%;
    font-size: 1rem;
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: border-box;
}
.module table caption {
    padding: 0;
}
.module table tbody tr:nth-child(odd) td,
.module table tbody tr:nth-child(odd) th {
    background-color: #f8f9fa;
}
.module table td,
.module table th {
    min-width: 10rem;
    padding: 0.25rem;
    font-size: 1rem;
    font-weight: normal;
    border: 1px solid #dee2e6;
    box-sizing: border-box;
}*/

/* rule */
.rule {
    position: relative;
    padding: 0;
    border-top: 1px solid #dee2e6;
}
.rule::after {
    content: '';
    display: table;
    clear: both;
}
.rule > * {
    padding: 0 2rem;
}
.rule > *:last-child {
    margin-bottom: 0;
}
.rule > blockquote {
    float: left;
    width: 50%;
    margin: 0;
    padding: 0 2rem;
    color: inherit;
    border-left: none;
    box-sizing: border-box;
}
.rule > pre {
    float: right;
    width: 50%;
    margin: 0;
    padding: 1rem 2rem;
    display: block;
    font-size: 0.75rem;
    line-height: 1.5;
    box-sizing: border-box;
    background-color: #f1f3f5;
    box-sizing: border-box;
}
.rule-view {
    position: relative;
    clear: both;
    padding: 3rem 2rem;
    text-align: center;
    border-top: 1px solid #dee2e6;
}
.rule-view::before {
    content: 'DEMO';
    color: inherit;
    position: absolute;
    left: 0;
    background: #dee2e6;
    top: 0;
    padding: 0 1rem;
    font-size: 1rem;
}
.rule-view .component {
    display: inline-block;
    text-align: left;
}
